.chat {
  margin-top: -50px;

  @include mobile {
    margin-top: -3rem;
  }
  &__bottom {
    font-size: 15px;
    color: #444444;
    font-weight: 600;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    @include mobile {
      flex-shrink: 0;
      max-width: 90%;
      font-size: 12px;
    }
    p {
      margin: 0;
    }
  }
  &__wrapper {
    position: relative;
    border-radius: 15px;
    border: 1px solid #4c4c4c;
    border-top: none;
    padding-top: 40px;
    margin-bottom: 23px;
    overflow: hidden;
    @include mobile {
      padding: 0.5rem;
      padding-top: 3rem;
      border-radius: 2rem;
      border-width: 3px;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 1px;
      right: 20px;
      top: 0;
      height: 90px;
      pointer-events: none;
      background: linear-gradient(to bottom, #000 50%, transparent);
      @include mobile {
        height: 7rem;
        left: -1rem;
        right: -1rem;
      }
    }
  }
  &__body {
    width: 100%;
    max-height: 500px;
    padding: 20px;
    padding-top: 50px;
    padding-right: 35px;
    border-radius: 15px;
    border: 1px solid #4c4c4c;
    border-left: none;
    border-right: none;
    border-top: none;
    position: relative;

    &:focus {
      outline: none;
    }
    @include mobile {
      padding: 2rem;
      padding-top: 4rem;
      padding-left: 1rem;
      padding-right: 3.5rem;
      border-radius: 1.5rem;
      max-height: unset;
      flex-grow: 1;
    }
    .simplebar-track.simplebar-vertical {
      background-color: #262626;
      width: 13px;
      border-radius: 20px;

      @include mobile {
        width: 9px;
      }
    }
    .simplebar-scrollbar {
      &::before {
        opacity: 1;
        background-color: #545454;
      }
    }
    .simplebar-track {
      right: 5px;
      bottom: 5px;
      top: 5px;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    @include mobile {
      gap: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 50px;
      @include mobile {
        margin-bottom: 5rem;
      }
    }

    &--response {
      .chat__answer {
        box-shadow: inset 0 0 24px #275fa360;
      }
    }
  }
  &__control {
    position: absolute;
    bottom: calc(100% + 10px);
    right: 17px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    @include mobile {
      right: 1.7rem;
      gap: 1rem;
      bottom: calc(100% + 1rem);
    }
  }
  &__btn {
    width: 15px;
    height: 15px;
    flex-shrink: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    @include mobile {
      width: 2rem;
      height: 2rem;
    }
    &--copy {
      background-image: url("./../img/copy.png");
    }
    &--reload {
      background-image: url("./../img/reload-chat.png");
    }
  }
  &__ava {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    @include mobile {
      width: 4rem;
      height: 4rem;
      transform: scale(1.4);
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__answer {
    padding: 25px;
    padding-right: 55px;
    border-radius: 15px;
    background-color: #222;
    overflow: hidden;
    box-shadow: inset 0px 0px 24px #ffffff1e;

    font-size: 15px;
    line-height: 1.2;

    @include mobile {
      padding: 2rem 1.6rem;
      border-radius: 1.5rem;
      font-size: 16px;
      line-height: 1.4;
    }
  }
}
